
/* ===== シナリオ作成ページ テキストエリア ===== */

/*  span          var(--adv-height) / 40  */

/*  title.top     var(--adv-height) / 10  */
/*  title.width   var(--adv-width) / 2    */
/*  title.height  var(--adv-height) / 25  */

/*  level type  */
/*  top          title.top + title.height + span      */
/*  width        ((var(--adv-width) / 2) / 2) - span  */
/*  height       var(--adv-height) / 25               */
/*  level.left   var(--adv-width) / 20                */
/*  type.left    level.left + level.width + span      */

/*  problem.top     level.top + level.height + span    */
/*  problem.width   var(--adv-width) / 2               */
/*  problem.height  var(--adv-height) / 6              */

/*  answer  */
/*  width        var(--adv-width) / 2                 */
/*  height       var(--adv-height) / 25               */
/*  answer1.top  problem.top + problem.height + span  */
/*  answer2.top  answer1.top + answer1.height + span  */
/*  answer3.top  answer2.top + answer1.height + span  */
/*  answer4.top  answer3.top + answer1.height + span  */

/*  explanation.top     answer4.top + answer4.height + span  */
/*  explanation.width   var(--adv-width) / 2                 */
/*  explanation.height  var(--adv-height) / 6                */


/* ----- textarea ----- */

textarea.makequiz {
    position: absolute;
    resize: none;
    width: calc(var(--adv-width) / 2);
    height: calc(var(--adv-height) / 6);
    left: calc(var(--adv-width) / 20);
}

.makequiz.problem {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (2 * var(--adv-height) / 40));
}

.makequiz.explanation {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (var(--adv-height) / 6) + (4 * var(--adv-height) / 25) + (7 * var(--adv-height) / 40));
}

/* ----- input ----- */
input.makequiz {
    position: absolute;
    width: calc(var(--adv-width) / 2);
    height: calc(var(--adv-height) / 25);
    left: calc(var(--adv-width) / 20);
}

/*  title  */
.makequiz.title {
    top: calc(var(--adv-height) / 10);
}

.makequiz.answer1 {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (var(--adv-height) / 6) + (3 * var(--adv-height) / 40));
}
.makequiz.answer2 {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (var(--adv-height) / 6) + (var(--adv-height) / 25) + (4 * var(--adv-height) / 40));
}
.makequiz.answer3 {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (var(--adv-height) / 6) + (2 * var(--adv-height) / 25) + (5 * var(--adv-height) / 40));
}
.makequiz.answer4 {
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 25) + (var(--adv-height) / 6) + (3 * var(--adv-height) / 25) + (6 * var(--adv-height) / 40));
}

/* ----- select ----- */

select.makequiz {
    position: absolute;
    top: calc((var(--adv-height) / 10) + (var(--adv-height) / 25) + (var(--adv-height) / 40));
    width: calc(((var(--adv-width) / 2) / 2) - (var(--adv-height) / 40));
    height: calc(var(--adv-height) / 25);
}

.makequiz.level {
    left: calc(var(--adv-width) / 20);
}

.makequiz.type {
    left: calc((var(--adv-width) / 20) + (var(--adv-width) / 4));
}

/* ----- button.css 内の ButtonL 継承 ----- */

.buttonL.makequiz {
    left: calc(var(--adv-width) * 2 / 3);
}

.makequiz.backAdmin {
    top: calc(var(--adv-height) / 10);
}

.makequiz.addQuizToDB {
    top: calc(var(--adv-height) / 5 + var(--adv-height) / 6);
}


