/* 管理者用ページメインメニュー */
.buttonL.adminMenu {
    left: calc(var(--adv-width) / 2 - var(--adv-width) / 8);
}
.adminMenu.makeQuiz {
    top: calc(var(--adv-height) / 4 - var(--adv-height) / 12);
}
.adminMenu.makeScenario {
    top: calc(var(--adv-height) / 2 - var(--adv-height) / 12);
}
.adminMenu.backTitle {
    top: calc(var(--adv-height) * 3 / 4 - var(--adv-height) / 12);
}
