/* ----- シーン画面 ----- */
div.SceneBody {
    position: relative;
    background-size: cover;
    background-image: var(--adv-backimage);

    width: var(--adv-width);
    height: var(--adv-height);
}

/* ----- プレイヤーデータ ----- */
div.playerData {
    position: absolute;
    text-align: right;
    padding: 10px;
    background: gray;
    color: white;

    width: var(--adv-width);
    height: calc(var(--adv-height) / 50);
}

/* ----- メインテキスト ----- */
div.MainText {
    background: white;
    position: absolute;
    padding: 4px;
    border: 6px groove;

    top: calc(var(--adv-height) * 3 / 4);
    left: calc(var(--adv-width) / 50);
    width: calc(var(--adv-width) - var(--adv-width) /25 - 20px);
    height: calc(var(--adv-height) / 4 - var(--adv-width) / 50 - 20px);
}

p.MainText {
    margin: 0px;
}

/* ----- ホームボタン ----- */
button.ButtonHome {
    position: absolute;
    background: gray;
    color: white;
    border: 2px ridge;

    width: calc(var(--adv-width) / 10);
    height: calc(var(--adv-width) / 10);
}
