/* ----- シーン画面 ----- */
div.scene {
    position: relative;
    width: var(--adv-width);
    height: var(--adv-height);
}

.scene.main {
    background-size: cover;
    border: 1px solid gray;
}
.scene.back {
    background: black;
}

/* ----- プレイヤーデータ ----- */
div.playerData {
    position: absolute;
    background: white;
    /*box-shadow: 0px 6px 10px -6px gray;*/

    width: var(--adv-width);
    height: calc(var(--adv-height) / 20);
}

div.playerDataElement {
    position: absolute;
}

.playerDataElement.name {
    left: calc(var(--adv-width) / 4);
}
.playerDataElement.score {
    left: calc(var(--adv-width) / 2);
}
.playerDataElement.money {
    left: calc(var(--adv-width) * 3 / 4);
}

/* ----- メインテキスト ----- */
div.MainText {
    background: white;
    position: absolute;
    padding: 4px;
    box-shadow: 0 0 10px gray;

    top: calc(var(--adv-height) * 3 / 4);
    left: calc(var(--adv-width) / 50);
    width: calc(var(--adv-width) - var(--adv-width) /25 - 20px);
    height: calc(var(--adv-height) / 4 - var(--adv-width) / 50 - 20px);
}

p.MainText {
    margin: 0px;
}

/* ----- ホームボタン ----- */
button.ButtonHome {
    position: absolute;
    background: gray;
    color: white;
    border: 2px ridge;

    width: calc(var(--adv-width) / 10);
    height: calc(var(--adv-width) / 10);
}

/* ----- ポップアップウィンドウ ----- */
div.popUp {
    position: absolute;
    width: calc(var(--adv-width) / 2);
    height: calc(var(--adv-width) / 4);
    left: calc(var(--adv-width) / 4);
    top: calc(var(--adv-height) / 8);
}

button.popUp {
    position: absolute;
    width: calc(var(--adv-width) / 2);
    height: calc(var(--adv-width) / 4);
    left: calc(var(--adv-width) / 4);
    top: calc(var(--adv-height) / 8);
}

/* ----- フェードアウト ----- */
div.fadeout {
    position: relative;
    background: black;
    width: var(--adv-width);
    height: var(--adv-height);
    opacity: 0.5;
}

