button.Select {
    --adv-span: calc(var(--adv-width) / 25);
    position: absolute;
    
    width: calc(var(--adv-width) / 2 - (var(--adv-span) * 2));
    height: 100px;
    top: calc(var(--adv-height) * 3 / 4 - var(--adv-span) - 100px);
}
button.Select.Left {
    left: var(--adv-span);
}
button.Select.Right {
    left: calc(var(--adv-width) / 2 + var(--adv-span));
}
